header
    display: flex
    nav
        position: fixed
        background-color: rgba(22, 22, 23, .8)
        width: 100%
        top: 0
        left: 0
        font-family: Arial, Helvetica, sans-serif
        z-index: 999
        .UlNavList
            position: relative
            width: 900px
            list-style-type: none
            overflow: hidden
            display: flex
            justify-content: space-between
            padding: 0px
            margin: 13px auto
            .LiNavSublist
                a
                    text-decoration: none
                .AIcon
                    color: white
                .AMenu
                    color: white
                    font-size: 12px
                ul
                    display: none
                .AMenu:hover
