<header>
    <nav>
        <ul class="nav-list">
            <li class="nav-sub"><a href="#" class="icon"><i class="fa-brands fa-apple"></i></a></li>
            <li class="nav-sub">
                <a href="#" class="menu">Store</a>
                <ul>
                    <li><p>shop</p></li>
                    <li><h3><a href="">Shop the Latest</a></h3></li>
                    <li><h3><a href="">Mac</a></h3></li>
                    <li><h3><a href="">iPad</a></h3></li>
                    <li><h3><a href="">iPhone</a></h3></li>
                    <li><h3><a href="">Apple Watch</a></h3></li>
                    <li><h3><a href="">Apple Vision Pro</a></h3></li>
                    <li><h3><a href="">Accesories</a></h3></li>
                </ul>
                <ul>
                    <li><p>Quick Links</p></li>
                    <li><strong><a href="">Find a Store</a></strong></li>
                    <li><strong><a href="">Order Status</a></strong></li>
                    <li><strong><a href="">Apple Trade In</a></strong></li>
                    <li><strong><a href="">Financing</a></strong></li>
                    <li><strong><a href="">Collage Student Offer</a></strong></li>
                </ul>
                <ul>
                    <li><p>Shop Special Stores</p></li>
                    <li><strong><a href="">Certified Refurbished</a></strong></li>
                    <li><strong><a href="">Education</a></strong></li>
                    <li><strong><a href="">Business</a></strong></li>
                    <li><strong><a href="">Veterans and Military</a></strong></li>
                    <li><strong><a href="">Government</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">Mac</a>
                <ul>
                    <li><p>Explore Mac</p></li>
                    <li><h3><a href="">Explore All Mac</a></h3></li>
                    <li><h3><a href="">Macbook Air</a></h3></li>
                    <li><h3><a href="">Macbook Pro</a></h3></li>
                    <li><h3><a href="">iMac</a></h3></li>
                    <li><h3><a href="">Mac mini</a></h3></li>
                    <li><h3><a href="">Mac Studio</a></h3></li>
                    <li><h3><a href="">Mac Pro</a></h3></li>
                    <li><h3><a href="">Displays</a></h3></li>
                </ul>
                <ul>
                    <li><p>Shop Mac</p></li>
                    <li><strong><a href="">Shop Mac</a></strong></li>
                    <li><strong><a href="">Help Me Choose</a></strong></li>
                    <li><strong><a href="">Mac Accesories</a></strong></li>
                    <li><strong><a href="">Apple Trade In</a></strong></li>
                    <li><strong><a href="">Financing</a></strong></li>
                    <li><strong><a href="">Collage Student Offer</a></strong></li>
                </ul>
                <ul>
                    <li><p>More from Mac</p></li>
                    <li><strong><a href="">Mac Support</a></strong></li>
                    <li><strong><a href="">AppleCare+ for Mac</a></strong></li>
                    <li><strong><a href="">macOS Sequoia Preview</a></strong></li>
                    <li><strong><a href="">Apple Intelligence</a></strong></li>
                    <li><strong><a href="">Apps by Apple</a></strong></li>
                    <li><strong><a href="">Continuity</a></strong></li>
                    <li><strong><a href="">iCloud+</a></strong></li>
                    <li><strong><a href="">Mac for Business</a></strong></li>
                    <li><strong><a href="">Education</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">iPad</a>
                <ul>
                    <li><p>Explore iPad</p></li>
                    <li><h3><a href="">Explore All iPad</a></h3></li>
                    <li><h3><a href="">iPad Pro</a></h3></li>
                    <li><h3><a href="">iPad Air</a></h3></li>
                    <li><h3><a href="">iPad</a></h3></li>
                    <li><h3><a href="">iPad mini</a></h3></li>
                    <li><h3><a href="">Apple Pencil</a></h3></li>
                    <li><h3><a href="">Keyboards</a></h3></li>
                    <li><strong><a href="">Compare iPad</a></strong></li>
                    <li><strong><a href="">Why iPad</a></strong></li>
                </ul>
                <ul>
                    <li><p>Shop iPad</p></li>
                    <li><strong><a href="">Shop iPad</a></strong></li>
                    <li><strong><a href="">iPad Accesories</a></strong></li>
                    <li><strong><a href="">Apple Trade In</a></strong></li>
                    <li><strong><a href="">Financing</a></strong></li>
                    <li><strong><a href="">Collage Student Offer</a></strong></li>
                </ul>
                <ul>
                    <li><p>More from iPad</p></li>
                    <li><strong><a href="">iPad Support</a></strong></li>
                    <li><strong><a href="">AppleCare+ for iPad</a></strong></li>
                    <li><strong><a href="">iPadOS 18 Preview</a></strong></li>
                    <li><strong><a href="">Apple Intelligence</a></strong></li>
                    <li><strong><a href="">Apps by Apple</a></strong></li>
                    <li><strong><a href="">iCloud+</a></strong></li>
                    <li><strong><a href="">Education</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">iPhone</a>
                <ul>
                    <li><p>Explore iPhone</p></li>
                    <li><h3><a href="">Explore All iPhone</a></h3></li>
                    <li><h3><a href="">iPhone 15 Pro</a></h3></li>
                    <li><h3><a href="">iPhone 15</a></h3></li>
                    <li><h3><a href="">iPhone 14</a></h3></li>
                    <li><h3><a href="">iPhone 13</a></h3></li>
                    <li><h3><a href="">iPhone SE</a></h3></li>
                    <li><strong><a href="">Compare iPhone</a></strong></li>
                    <li><strong><a href="">Switch from Android</a></strong></li>
                </ul>
                <ul>
                    <li><p>Shop iPhone</p></li>
                    <li><strong><a href="">Shop iPhone</a></strong></li>
                    <li><strong><a href="">iPhone Accesories</a></strong></li>
                    <li><strong><a href="">Apple Trade In</a></strong></li>
                    <li><strong><a href="">Carrier Deals at Apple</a></strong></li>
                    <li><strong><a href="">Financing</a></strong></li>
                </ul>
                <ul>
                    <li><p>More from iPhone</p></li>
                    <li><strong><a href="">iPhone Support</a></strong></li>
                    <li><strong><a href="">AppleCare+ for iPhone</a></strong></li>
                    <li><strong><a href="">iOS 18 Preview</a></strong></li>
                    <li><strong><a href="">Apple Intelligence</a></strong></li>
                    <li><strong><a href="">Apps by Apple</a></strong></li>
                    <li><strong><a href="">iPhone Privacy</a></strong></li>
                    <li><strong><a href="">iCloud+</a></strong></li>
                    <li><strong><a href="">Wallet,Pay,Card</a></strong></li>
                    <li><strong><a href="">Siri</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">Watch</a>
                <ul>
                    <li><p>Explore Watch</p></li>
                    <li><h3><a href="">Explore All Apple Watch</a></h3></li>
                    <li><h3><a href="">Apple Watch Series 9</a></h3></li>
                    <li><h3><a href="">Apple Watch Ultra 2</a></h3></li>
                    <li><h3><a href="">Apple Watch SE</a></h3></li>
                    <li><h3><a href="">Apple Watch Nike</a></h3></li>
                    <li><h3><a href="">Apple Watch Hermes</a></h3></li>
                    <li><strong><a href="">Compare Watch</a></strong></li>
                    <li><strong><a href="">Why Apple Watch</a></strong></li>
                </ul>
                <ul>
                    <li><p>Shop Watch</p></li>
                    <li><strong><a href="">Shop Apple Watch</a></strong></li>
                    <li><strong><a href="">Apple Watch Studio</a></strong></li>
                    <li><strong><a href="">Apple Watch Bands</a></strong></li>
                    <li><strong><a href="">Apple Watch Accesories</a></strong></li>
                    <li><strong><a href="">Apple Trade In</a></strong></li>
                    <li><strong><a href="">Financing</a></strong></li>
                </ul>
                <ul>
                    <li><p>More from Watch</p></li>
                    <li><strong><a href="">Apple Watch Support</a></strong></li>
                    <li><strong><a href="">AppleCare+</a></strong></li>
                    <li><strong><a href="">WatchOS 11 Preview</a></strong></li>
                    <li><strong><a href="">Apple Watch For Your Kids</a></strong></li>
                    <li><strong><a href="">Apps by Apple</a></strong></li>
                    <li><strong><a href="">Apple Fitness+</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">Vision</a>
                <ul>
                    <li><p>Explore Vision</p></li>
                    <li><h3><a href="">Explore Apple Vision Pro</a></h3></li>
                    <li><strong><a href="">Guided Tour</a></strong></li>
                    <li><strong><a href="">Tech Specs</a></strong></li>
                </ul>
                <ul>
                    <li><p>Shop Vision</p></li>
                    <li><strong><a href="">Shop Apple Vision Pro</a></strong></li>
                    <li><strong><a href="">Apple Vision Pro Accesories</a></strong></li>
                    <li><strong><a href="">Book a Demo</a></strong></li>
                    <li><strong><a href="">Financing</a></strong></li>
                </ul>
                <ul>
                    <li><p>More from Vision</p></li>
                    <li><strong><a href="">Apple Vision Pro Support</a></strong></li>
                    <li><strong><a href="">AppleCare+</a></strong></li>
                    <li><strong><a href="">VisionOS 2 Preview</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">AirPods</a>
                <ul>
                    <li><p>Explore AirPods</p></li>
                    <li><h3><a href="">Explore All AirPods</a></h3></li>
                    <li><h3><a href="">AirPods Pro 2nd generation</a></h3></li>
                    <li><h3><a href="">AirPods 2nd generation</a></h3></li>
                    <li><h3><a href="">AirPods 3rd generation</a></h3></li>
                    <li><h3><a href="">AirPods Max</a></h3></li>
                    <li><strong><a href="">Compare AirPods</a></strong></li>
                </ul>
                <ul>
                    <li><p>Shop AirPods</p></li>
                    <li><strong><a href="">Shop AirPods</a></strong></li>
                    <li><strong><a href="">AirPods Accesories</a></strong></li>
                </ul>
                <ul>
                    <li><p>More from AirPods</p></li>
                    <li><strong><a href="">AirPods Support</a></strong></li>
                    <li><strong><a href="">AppleCare+ for Headphones</a></strong></li>
                    <li><strong><a href="">Apple Music</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">TV & Home</a>
                <ul>
                    <li><p>Explore TV & Home</p></li>
                    <li><h3><a href="">Explore TV & Home</a></h3></li>
                    <li><h3><a href="">Apple TV 4K</a></h3></li>
                    <li><h3><a href="">HomePod</a></h3></li>
                    <li><h3><a href="">HomePod mini</a></h3></li>
                </ul>
                <ul>
                    <li><p>Shop TV & Home</p></li>
                    <li><strong><a href="">Shop Apple TV 4K</a></strong></li>
                    <li><strong><a href="">Shop HomePod</a></strong></li>
                    <li><strong><a href="">Shop HomePod mini</a></strong></li>
                    <li><strong><a href="">Shop Siri Remote</a></strong></li>
                    <li><strong><a href="">TV & Home Accessories</a></strong></li>
                </ul>
                <ul>
                    <li><p>More from TV & Home</p></li>
                    <li><strong><a href="">Apple TV Support</a></strong></li>
                    <li><strong><a href="">HomePod Support</a></strong></li>
                    <li><strong><a href="">AppleCare+</a></strong></li>
                    <li><strong><a href="">Apple TV app</a></strong></li>
                    <li><strong><a href="">Apple TV+</a></strong></li>
                    <li><strong><a href="">Home app</a></strong></li>
                    <li><strong><a href="">Apple Music</a></strong></li>
                    <li><strong><a href="">Siri</a></strong></li>
                    <li><strong><a href="">AirPlay</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">Entertainment</a>
                <ul>
                    <li><p>Explore Entertainment</p></li>
                    <li><h3><a href="">Explore Entertainment</a></h3></li>
                    <li><h3><a href="">Apple One</a></h3></li>
                    <li><h3><a href="">Apple TV+</a></h3></li>
                    <li><h3><a href="">Apple Music</a></h3></li>
                    <li><h3><a href="">Apple Arcade</a></h3></li>
                    <li><h3><a href="">Apple Fitness+</a></h3></li>
                    <li><h3><a href="">Apple News+</a></h3></li>
                    <li><h3><a href="">Apple Podcasts</a></h3></li>
                    <li><h3><a href="">Apple Books</a></h3></li>
                    <li><h3><a href="">App Store</a></h3></li>
                </ul>
                <ul>
                    <li><p>Support</p></li>
                    <li><strong><a href="">Apple TV+ Support</a></strong></li>
                    <li><strong><a href="">Apple Music Support</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">Accesories</a>
                <ul>
                    <li><p>Accesories</p></li>
                    <li><h3><a href="">Shop All Accesories</a></h3></li>
                    <li><h3><a href="">Mac</a></h3></li>
                    <li><h3><a href="">iPad</a></h3></li>
                    <li><h3><a href="">iPhone</a></h3></li>
                    <li><h3><a href="">Apple Watch</a></h3></li>
                    <li><h3><a href="">Apple Vision Pro</a></h3></li>
                    <li><h3><a href="">AirPods</a></h3></li>
                    <li><h3><a href="">TV & Home</a></h3></li>
                </ul>
                <ul>
                    <li><p>Explore Accessories</p></li>
                    <li><strong><a href="">Made By Apple</a></strong></li>
                    <li><strong><a href="">Beats by Dr. Dre</a></strong></li>
                    <li><strong><a href="">AirTag</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub">
                <a href="#" class="menu">Support</a>
                <ul>
                    <li><p>Explore Support</p></li>
                    <li><h3><a href="">iPhone</a></h3></li>
                    <li><h3><a href="">Mac</a></h3></li>
                    <li><h3><a href="">iPad</a></h3></li>
                    <li><h3><a href="">Watch</a></h3></li>
                    <li><h3><a href="">Apple Vision Pro</a></h3></li>
                    <li><h3><a href="">AirPods</a></h3></li>
                    <li><h3><a href="">Music</a></h3></li>
                    <li><h3><a href="">TV</a></h3></li>
                    <li><strong><a href="">Compare Support</a></strong></li>
                </ul>
                <ul>
                    <li><p>Get Help</p></li>
                    <li><strong><a href="">Community</a></strong></li>
                    <li><strong><a href="">Check Coverage</a></strong></li>
                    <li><strong><a href="">Repair</a></strong></li>
                    <li><strong><a href="">Contact us</a></strong></li>
                </ul>
                <ul>
                    <li><p>Helpful Topics</p></li>
                    <li><strong><a href="">Get AppleCare+</a></strong></li>
                    <li><strong><a href="">Apple ID & Password</a></strong></li>
                    <li><strong><a href="">Billing & Subscriptions</a></strong></li>
                    <li><strong><a href="">Find My</a></strong></li>
                    <li><strong><a href="">Accessibility</a></strong></li>
                </ul>
            </li>
            <li class="nav-sub"><a href="#" class="icon"><i class="fa-solid fa-magnifying-glass"></i></a></li>
            <li class="nav-sub"><a href="#" class="icon"><i class="fa-solid fa-bag-shopping"></i></a></li>
        </ul>
    </nav>
</header>
