<main>


    <!-- section vision pro -->
    <section class="SectionVisionPro">
        <figure class="FigureContainerVisionPro">
            <img class="ImgVisionPro" src="https://img.freepik.com/premium-photo/portrait-woman-with-arms-raised-against-blue-background_1048944-30457597.jpg?ga=GA1.1.1811519676.1727150559" alt="">
            <figcaption class="FigcaptionVisionPro">
                <h2><i class="fa fa-apple"></i> Vision Pro</h2>
                <summary>You've never seen everything like this before.</summary>
                <div class="DivButton">
                    <a class="ALearn" href="">Learn more</a>
                    <a class="ABuy" href="">Buy</a>
                </div>
            </figcaption>
        </figure>
    </section>


    <!-- section adds -->
    <section class="SectionAdds">
        <figure>
            <img src="https://img.freepik.com/premium-photo/ai-assistants-modern-living-white-background_914383-26542.jpg?ga=GA1.1.1811519676.1727150559&semt=ais_hybrid" alt="">
            <figcaption>
                <a href="">Shop</a>
            </figcaption>
        </figure>
    </section>


    <!-- section macbook -->
    <section class="SectionMacbook">
        <figure>
            <img class="ImgMacbook" src="https://img.freepik.com/free-photo/3d-rendering-laptop-nature_23-2151004278.jpg?ga=GA1.1.1811519676.1727150559&semt=ais_hybrid" alt="">
            <figcaption class="FigcaptionMacbook">
                <h2>MacBook Air</h2>
                <summary>Lean.Mean.M3 machine.</summary>
                <div class="DivButton">
                    <a class="ALearn" href="">Learn more</a>
                    <a class="ABuy" href="">Buy</a>
                </div>
            </figcaption>
        </figure>
    </section>


    <!-- section products -->
    <section class="SectionProducts">
        <div class="DivContainerProducts">
            <figure *ngFor="let _arrayModelProduct of _arrayModelOfProducts; let i = index"
            class="FigureProducts">
                <img [src]="_arrayModelProduct.imageUrl" alt="">
                <figcaption>
                    <h2><i class="fa fa-apple"></i>{{ _arrayModelProduct.titleProduct }}</h2>
                    <summary>{{ _arrayModelProduct.summary1 }}</summary>
                    <summary>{{ _arrayModelProduct.summary2 }}</summary>
                    <div class="DivButton">
                        <a class="ALearn" href="">{{ _arrayModelProduct.buttonLeft }}</a>
                        <a class="ABuy" href="">{{ _arrayModelProduct.buttonRight }}</a>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>


    <!-- section movie -->
    <section class="SectionMovie">
        <div class="DivContainerMovie">
          <figure *ngFor="let figure of _arrayModelOfFigures; let i = index"
            class="FigureMovie"
            [ngClass]="{'active': isActiveSlide(i)}"
            [style.transform]="'translateX(' + ((i - _numberCurrentIndex) * 100) + '%)'">
              <img [src]="figure.imageUrl" alt="">
              <figcaption>
              <div class="DivCardDetail">
                  <a href="">{{ figure.linkText }}</a>
                  <strong>{{ figure.category }}</strong>
                  <p>{{ figure.description }}</p>
              </div>
              <img [src]="figure.logoUrl" alt="">
              </figcaption>
          </figure>
        </div>
        <!-- The dots/circles -->
        <div style="text-align:center">
          <span *ngFor="let dot of _numberDots; let i = index"
            class="SpanDot"
            [ngClass]="{'active-dot': isActiveSlide(i)}"
            (click)="currentSlide(dot)">
          </span>
        </div>
    </section>

    <!-- section gallery -->
    <section class="SectionGallery">
        <div class="DivContainerGallery">
            <div class="DivGalleryTrack">
              <figure *ngFor="let gallery of _arrayModelOfGallery; let i = index"
              class="FigureGallery">
                  <div class="DivGalleryImage">
                      <img [src]="gallery.imgUrl" alt="">
                      <a href="">{{ gallery.action }}</a>
                  </div>
                  <figcaption>
                      <p>{{ gallery.title }}</p>
                      <span><i class="fa fa-apple"></i>{{ gallery.category }}</span>
                  </figcaption>
              </figure>
            </div>
        </div>
    </section>
</main>

<!-- liquid sampai 360px -->
