<main>


    <!-- section vision pro -->
    <section class="SectionVisionPro">
        <figure class="FigureContainerVisionPro">
            <img class="ImgVisionPro" src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="">
            <figcaption class="FigcaptionVisionPro">
                <h2><i class="fa fa-apple"></i> Vision Pro</h2>
                <summary>You've never seen everything like this before.</summary>
                <div class="DivButton">
                    <a class="ALearn" href="">Learn more</a>
                    <a class="ABuy" href="">Buy</a>
                </div>
            </figcaption>
        </figure>
    </section>


    <!-- section adds -->
    <section class="SectionAdds">
        <figure>
            <img src="https://img.freepik.com/free-photo/dreamy-aesthetic-color-year-tones-nature-landscape_23-2151393858.jpg" alt="">
            <figcaption>
                <a href="">Shop</a>
            </figcaption>
        </figure>
    </section>


    <!-- section macbook -->
    <section class="SectionMacbook">
        <figure>
            <img class="ImgMacbook" width="300px" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722384000&semt=ais_hybrid" alt="">
            <figcaption class="FigcaptionMacbook">
                <h2>MacBook Air</h2>
                <summary>Lean.Mean.M3 machine.</summary>
                <div class="DivButton">
                    <a class="ALearn" href="">Learn more</a>
                    <a class="ABuy" href="">Buy</a>
                </div>
            </figcaption>
        </figure>
    </section>


    <!-- section products -->
    <section class="SectionProducts">
        <div class="DivContainerProducts">
            <figure *ngFor="let product of products; let i = index"
            class="FigureProducts">
                <img [src]="product.imageUrl" alt="">
                <figcaption>
                    <h2><i class="fa fa-apple"></i>{{ product.titleProduct }}</h2>
                    <summary>{{ product.summary1 }}</summary>
                    <summary>{{ product.summary2 }}</summary>
                    <div class="DivButton">
                        <a class="ALearn" href="">{{ product.buttonLeft }}</a>
                        <a class="ABuy" href="">{{ product.buttonRight }}</a>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>


    <!-- section movie -->
    <section class="SectionMovie">
        <div class="DivContainerMovie">
          <figure *ngFor="let figure of figures; let i = index"
            class="FigureMovie"
            [ngClass]="{'active': isActiveSlide(i)}"
            [style.transform]="'translateX(' + ((i - currentIndex) * 100) + '%)'">
              <img [src]="figure.imageUrl" alt="">
              <figcaption>
              <div class="DivCardDetail">
                  <a href="">{{ figure.linkText }}</a>
                  <strong>{{ figure.category }}</strong>
                  <p>{{ figure.description }}</p>
              </div>
              <img [src]="figure.logoUrl" alt="">
              </figcaption>
          </figure>
        </div>
        <!-- The dots/circles -->
        <div style="text-align:center">
          <span *ngFor="let dot of dots; let i = index"
            class="SpanDot"
            [ngClass]="{'active-dot': isActiveSlide(i)}"
            (click)="currentSlide(dot)">
          </span>
        </div>
    </section>

    <!-- section gallery -->
    <section class="SectionGallery" style="
        --width: 413px;
        --heigth: 236px;
        --quantity: 6;
    ">
        <div class="DivContainerGallery">
            <figure style="--position: 1">
                <div class="DivGalleryImage">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXkDMd6di4nFVmKdzCTzehQRBUBkwvzDHPjA&s" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 2">
                <div class="DivGalleryImage">
                    <img src="https://www.gematsu.com/wp-content/uploads/2024/06/Hello-Kitty-Island-Adventure-Announced_06-18-24.jpg" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 3">
                <div class="DivGalleryImage">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXkDMd6di4nFVmKdzCTzehQRBUBkwvzDHPjA&s" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 4">
                <div class="DivGalleryImage">
                    <img src="https://www.gematsu.com/wp-content/uploads/2024/06/Hello-Kitty-Island-Adventure-Announced_06-18-24.jpg" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 5">
                <div class="DivGalleryImage">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXkDMd6di4nFVmKdzCTzehQRBUBkwvzDHPjA&s" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 6">
                <div class="DivGalleryImage">
                    <img src="https://www.gematsu.com/wp-content/uploads/2024/06/Hello-Kitty-Island-Adventure-Announced_06-18-24.jpg" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
        </div>
    </section>
</main>
