<main>
    <!-- section vision pro -->
    <section class="visionpro">
        <figure class="container">
            <img class="img" src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="">
            <figcaption class="figcaption">
                <h2><i class="fa fa-apple"></i> Vision Pro</h2>
                <summary>You've never seen everything like this before.</summary>
                <div class="btn">
                    <a class="learn" href="">Learn more</a>
                    <a class="buy" href="">Buy</a>
                </div>
            </figcaption>
        </figure>
    </section>


    <!-- section adds -->
    <section class="adds">
        <figure>
            <img src="https://img.freepik.com/free-photo/dreamy-aesthetic-color-year-tones-nature-landscape_23-2151393858.jpg" alt="">
            <figcaption>
                <a href="">Shop</a>
            </figcaption>
        </figure>
    </section>


    <!-- section macbook -->
    <section class="macbook">
        <figure>
            <img class="img-macbook" width="300px" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722384000&semt=ais_hybrid" alt="">
            <figcaption class="figcapt-macbook">
                <h2>MacBook Air</h2>
                <summary>Lean.Mean.M3 machine.</summary>
                <div class="btn">
                    <a class="learn" href="">Learn more</a>
                    <a class="buy" href="">Buy</a>
                </div>
            </figcaption>
        </figure>
    </section>


    <!-- section products -->
    <section class="products">
        <div class="container-products">
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpUd5slHL5adwDL8TxpEsESk01qN8dGV0Xeg&s" alt="">
                <figcaption>
                    <h2>iPhone</h2>
                    <summary>Our most powerful cameras yet.</summary>
                    <summary>Ultrafast chips.And USB-C</summary>
                    <div class="btn">
                        <a class="learn" href="">Learn more</a>
                        <a class="buy" href="">Shop Iphone</a>
                    </div>
                </figcaption>
            </figure>
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGMCyKnOdoKVxR53ycgiPS5pphJu44oVcQbPcir98vsZriDgnMAMBw6EV4Kza5s2dj0Gg&usqp=CAU" alt="">
                <figcaption>
                    <h2>Apple Intelligence</h2>
                    <summary>AI For the rest of us.</summary>
                    <summary>Coming in beta this fall<sup>1</sup> </summary>
                    <div class="btn">
                        <a class="learn" href="">Learn more</a>
                        <a class="buy" href="">Watch the film</a>
                    </div>                    
                </figcaption>
            </figure>
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpUd5slHL5adwDL8TxpEsESk01qN8dGV0Xeg&s" alt="">
                <figcaption>
                    <h2>iPad Pro</h2>
                    <summary>Unbelievably thin. Incredibly powerful.</summary>
                    <div class="btn">
                        <a class="learn" href="">Learn more</a>
                        <a class="buy" href="">Buy</a>
                    </div>
                </figcaption>
            </figure>
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGMCyKnOdoKVxR53ycgiPS5pphJu44oVcQbPcir98vsZriDgnMAMBw6EV4Kza5s2dj0Gg&usqp=CAU" alt="">
                <figcaption>
                    <h2><i class="fa fa-apple"></i> Watch</h2>
                    <summary>Series 9</summary>
                    <summary>Smarter.Brighter.Mightier</summary>
                    <div class="btn">
                        <a class="learn" href="">Learn more</a>
                        <a class="buy" href="">Shop Iphone</a>
                    </div>
                </figcaption>
            </figure>
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0p05rsJrFCe2GxnRLXVoXUnJ09QxAY1c0da2yQlIf4Jf8GqXZk4lgL3fqLulyo6BX818&usqp=CAU" alt="">
                <figcaption>
                    <h2><i class="fa fa-apple"></i> Card</h2>
                    <summary>Get up to 3% Daily cash back with every purchase.</summary>
                    <summary>Ultrafast chips.And USB-C</summary>
                    <div class="btn">
                        <a class="learn" href="">Learn more</a>
                        <a class="buy" href="">Apply now</a>
                    </div>
                </figcaption>
            </figure>
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGMCyKnOdoKVxR53ycgiPS5pphJu44oVcQbPcir98vsZriDgnMAMBw6EV4Kza5s2dj0Gg&usqp=CAU" alt="">
                <figcaption>
                    <h2><i class="fa fa-apple"></i> Trade In</h2>
                    <summary>Get $170-$620 in credit when you trade in iPhone 11 or higher.<sup>2</sup> </summary>
                    <div class="btn">
                        <a class="learn" href="">Get your estimate</a>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>


    <!-- section movie -->
    <section class="movie">
        <div class="container-movie">
          <figure *ngFor="let figure of figures; let i = index"
            class="item"
            [ngClass]="{'active': isActiveSlide(i)}"
            [style.transform]="'translateX(' + ((i - currentIndex) * 100) + '%)'">
              <img [src]="figure.imageUrl" alt="">
              <figcaption>
              <div class="card-detail">
                  <a href="">{{ figure.linkText }}</a>
                  <strong>{{ figure.category }}</strong>
                  <p>{{ figure.description }}</p>
              </div>
              <img [src]="figure.logoUrl" alt="">
              </figcaption>
          </figure>
        </div>
        <!-- The dots/circles -->
        <div style="text-align:center">
          <span *ngFor="let dot of dots; let i = index"
            class="dot"
            [ngClass]="{'active-dot': isActiveSlide(i)}"
            (click)="currentSlide(dot)">
          </span>
        </div>
    </section>

    <!-- section gallery -->
    <section class="gallery" style="
        --width: 413px;
        --heigth: 236px;
        --quantity: 6;
    ">
        <div class="container-gallery">
            <figure style="--position: 1">
                <div class="gallery-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXkDMd6di4nFVmKdzCTzehQRBUBkwvzDHPjA&s" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 2">
                <div class="gallery-img">
                    <img src="https://www.gematsu.com/wp-content/uploads/2024/06/Hello-Kitty-Island-Adventure-Announced_06-18-24.jpg" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 3">
                <div class="gallery-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXkDMd6di4nFVmKdzCTzehQRBUBkwvzDHPjA&s" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 4">
                <div class="gallery-img">
                    <img src="https://www.gematsu.com/wp-content/uploads/2024/06/Hello-Kitty-Island-Adventure-Announced_06-18-24.jpg" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 5">
                <div class="gallery-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXkDMd6di4nFVmKdzCTzehQRBUBkwvzDHPjA&s" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
            <figure style="--position: 6">
                <div class="gallery-img">
                    <img src="https://www.gematsu.com/wp-content/uploads/2024/06/Hello-Kitty-Island-Adventure-Announced_06-18-24.jpg" alt="">
                    <a href="">Watch Now</a>
                </div>
                <figcaption>
                    <p>Hellokitty Island Adventure</p>
                    <span><i class="fa fa-apple"></i> Arcade</span>
                </figcaption>
            </figure>
        </div>
    </section>
</main>
