footer
    background: #f3f3f3
    margin-top: 10px
    font-family: Arial, Helvetica, sans-serif
    .containerFooter
        padding: 10px 183px
        small
            color: #9b9b9b
        .services
            display: flex
            justify-content: space-between
            margin-bottom: 20px
            .servicesType
                ul
                    list-style-type: none
                    padding: 0px
                    li
                        margin: 10px 0
                        font-size: 12px
                        strong
                            color: #505050
                        a
                            text-decoration: none
                            color: #9b9b9b
        section
            margin-bottom: 10px
            small
              a
                color: blue
            hr
                margin: 20px 0
            .copywrite
                display: flex
                justify-content: space-between
                align-items: center
                ul
                    display: flex
                    list-style-type: none
                    gap: 10px
                    padding: 0
                    margin: 0
                    li
                        a
                            text-decoration: none
                            font-size: 12px
                            color: blue
                a
                    text-decoration: none
                    font-size: 12px
                    color: #9b9b9b


