main
  font-family: Arial, Helvetica, sans-serif
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  // background-color: #007aff
  .DivContainerLogin
    display: flex
    justify-content: center
    align-items: center
    padding: 30px
    box-shadow: 0px 0px 10px #6e6e6e
    border-radius: 20px
    width: auto
    background-color: white
    margin-bottom: 20px
    .DivContentLogin
      text-align: center
      form
        display: flex
        flex-direction: column
        width: 300px
        .DivInputBox
          position: relative
          display: flex
          flex-direction: column
          label
            text-align: left
            font-size: 14px
          input
            width: auto
            height: 30px
            border-radius: 5px
            margin: 5px 0 10px 0
            border: solid 1px #000000
            padding: 0 10px
          .eyeicon
            position: absolute
            right: 15px
            bottom: 16px
            cursor: pointer
        .invalid-feedback
            color: #dc3545
            font-size: 0.8rem
            margin-top: 5px
        button
          margin-top: 20px
          width: auto
          height: 35px
          background-color: #007aff
          color: #ffffff
          border-radius: 5px
          border: solid 1px #007aff
          cursor: pointer
        button:hover
          background-color: #ffffff
          color: #007aff
  p
    font-size: 14px

