<main>
  <div class="DivContainerLogin">
    <div class="DivContentLogin">
      <h1>Change Password</h1>
        <form (ngSubmit)="onChangePassword()">
          <!-- <div class="DivInputBox">
            <label for="">Email</label>
            <input type="email" placeholder="Email address" id="email" [(ngModel)]="email" name="email" required email>
          </div>
          <div *ngIf="emailInvalid && emailTouched" class="invalid-feedback">
            <div>Email is required</div>
          </div> -->
          <div class="DivInputBox">
            <label for="">New Password</label>
            <input [type]="changetype?'password':'text'" placeholder="Enter your password" [(ngModel)]="newPassword" name="password" required minlength="6">
            <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa-regular fa-eye':'fa-regular fa-eye-slash'"></i></span>
          </div>
          <div *ngIf="passwordInvalid && passwordTouched" class="invalid-feedback">
            <div>Password contains minimal 6 number characters</div>
          </div>
          <button class="btn">Change</button>
        </form>
    </div>
  </div>
  <p>Do not have an account? <span><a href="">Sign Up</a></span></p>
</main>
